fastapi
uvicorn

# ML / Embeddings
torch==2.2.2
transformers==4.39.3
sentence-transformers==2.6.1
faiss-cpu==1.7.4

# RAG / PDF
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
pypdf

# LLM
groq

# FastAPI utilities
python-multipart
pydantic
python-dotenv
